{% extends 'content/basic.html'%}
{% load guest_user %}
{% load static %} 
{% block title %}Home{% endblock %}
{% block body %}
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="costum_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <h1 class="furniture_text">STUDY MATERIAL</h1>
                     <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some fo</p>
                     <div class="contact_bt_main">
                        <div class="contact_bt"><a href="/content/contact/">Contact Us</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="furniture_text">STUDY MATERIAL</h1>
                     <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some fo</p>
                     <div class="contact_bt_main">
                        <div class="contact_bt"><a href="/content/contact/">Contact Us</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="furniture_text">STUDY MATERIAL</h1>
                     <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some fo</p>
                     <div class="contact_bt_main">
                        <div class="contact_bt"><a href="/content/contact/">Contact Us</a></div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
               <i class=""><img src="{% static 'images/left-arrow.png' %}"></i>
               </a>
               <a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
               <i class=""><img src="{% static 'images/right-arrow.png' %}"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Our Courses</h1>
            <p class="many_taital">There are many variations of passages of Lorem Ipsum </p>
            <div class="services_section2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
                     <h2 class="furnitures_text">Maths</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
                     <h2 class="furnitures_text">English</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
                     <h2 class="furnitures_text">Hindi</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
                     <h2 class="furnitures_text">Geography</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->
      <!-- who section start -->
      <div class="who_section layout_padding">
         <div class="container">
            <h1 class="who_taital">who we are ?</h1>
            <h4 class="designer_text">Developers & Designers</h4>
            <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
         </div>
         <div class="get_bt_main">
            <div class="get_bt"><a href="#">Get A Quote</a></div>
         </div>
      </div>
      <!-- who section end -->
      <!-- projects section start -->
      <div class="projects_section layout_padding">
        <div class="container">
           <h1 class="our_text">Our projects</h1>
           <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
           <div id="main_slider" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                 <div class="carousel-item active">
                    <div class="projects_section2">
                       <div class="container_main2">
                          <div class="row">
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="carousel-item">
                    <div class="projects_section2">
                       <div class="container_main1">
                          <div class="row">
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="carousel-item">
                    <div class="projects_section2">
                       <div class="container_main1">
                          <div class="row">
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-sm-4">
                                <div class="container_main1">
                                   <img src="{% static 'images/study.png' %}" alt="Avatar" class="image" style="width:100%">
                                   <h1 class="modern_text">Our Courses</h1>
                                   <div class="middle">
                                      <div class="text">VIEW MORE</div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
              <i class="fa fa-angle-left"></i>
              </a>
              <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
              </a>
           </div>
        </div>
     </div>
     <!-- projects section end -->
      <!-- furnitures section start -->
      <!-- <div class="furnitures_section layout_padding">
         <div class="container">
            <h1 class="our_text">OUR furnitures</h1>
            <p class="ipsum_text">There are many variations of passages of Lorem Ipsum </p>
            <div class="furnitures_section2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="container_main">
                        <img src="{% static 'images/img-2.png' %}" alt="Avatar" class="image">
                        <div class="overlay">
                           <a href="#" class="icon" title="User Profile">
                           <i class="fa fa-search"></i>
                           </a>
                        </div>
                     </div>
                     <h3 class="temper_text">Tempor incididunt ut labore et dolore</h3>
                     <p class="dololr_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
                  </div>
                  <div class="col-md-6">
                     <div class="container_main">
                        <img src="{% static 'images/img-3.png' %}" alt="Avatar" class="image">
                        <div class="overlay">
                           <a href="#" class="icon" title="User Profile">
                           <i class="fa fa-search"></i>
                           </a>
                        </div>
                     </div>
                     <h3 class="temper_text">Tempor incididunt ut labore et dolore</h3>
                     <p class="dololr_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <!-- furnitures section end -->
      
      
      <!-- client section start -->
      <div class="clients_section layout_padding">
         <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <h1 class="client_text">what is says our clients</h1>
                     <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                     <div class="clients_section2 layout_padding">
                        <div class="client_1">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                        <div class="client_2">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-8.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="client_text">what is says our clients</h1>
                     <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                     <div class="clients_section2 layout_padding">
                        <div class="client_1">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                        <div class="client_2">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-8.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="client_text">what is says our clients</h1>
                     <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                     <div class="clients_section2 layout_padding">
                        <div class="client_1">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                        <div class="client_2">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-8.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <h1 class="client_text">what is says our clients</h1>
                     <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                     <div class="clients_section2 layout_padding">
                        <div class="client_1">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-7.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                        <div class="client_2">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="image_7"><img src="{% static 'images/img-8.png' %}"></div>
                                 <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              </div>
                              <div class="col-sm-9">
                                 <h1 class="loksans_text">loksans</h1>
                                 <p class="dolor_ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed  veniam, quis nostrud exercitation ullamco laboris nisi ut reprehenderit in voluptate velit</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- client section end -->
      
    {% endblock %}