{% extends 'content/basic.html'%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col p-2">
        <form id="testing_form" method="post" action="/content/testing/">
            {% csrf_token %}
            <div class="form-group">
                <label>Meeting Name</label>
                <input type="text" class="form-control" name="meeting_name"  placeholder="Enter Meeting Name" required>
            </div>

            <div class="batch_box mb-3">
                <button type="button" class="btn btn-dark batch_btn">Click to see all Batches</button>
                <div class="mt-2" id="all_batches_list" style="display: none;">
                    {% for package in categories %}
                    <input type="checkbox" name="batch_checkbox" value="{{package.id}}"> {{package.name}}<br>
                    {% endfor %} 
                </div>
            </div>
            
            <div class="package_box mb-3">
                <button type="button" class="btn btn-dark package_btn">Click to see all Packages</button>
                <div class="mt-2" id="all_packages_list" style="display: none;">
                    {% for package in categories %}
                    <input type="checkbox" name="package_checkbox" value="{{package.id}}"> {{package.name}}<br>
                    {% endfor %} 
                </div>
            </div> 

            <div class="input-group mb-3">
                <label class="input-group-text">Duration in Hours</label>
                <select name="duration_hr">
                     <option selected value="">Select</option>
                     {% for i in hours %}
                     <option value="{{i}}">{{i}}</option>
                     {% endfor %}
                </select>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Duration in Minutes</label>
                <select name="duration_min">
                     <option selected value="">Select</option>
                     {% for i in minutes %}
                     <option value="{{i}}">{{i}}</option>
                     {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-dark schedule_meeting">Submit</button>
            </div>
        </form>
    </div>
  </div>
</div>
<script>
    $(".batch_btn").click(function () {
		$("#all_batches_list").show()
	});
	$(".package_btn").click(function () {
        $("#all_packages_list").show()
	});
</script>
<!-- <script>
    $(document).ready(function(){
        $('#testing_form').submit(function(event){
          event.preventDefault();
          var confirmation = confirm("are you sure you want to create this meeting?");
         
          if(confirmation)
          {
            var form = $(this);
            var actionUrl = form.attr('action');
            let csrftoken = '{{ csrf_token }}';
            var meeting_name = $("input[name=meeting_name]").val();
            var duration_hr = $("select[name=duration_hr]").find(':selected').val();
            var duration_min = $("select[name=duration_min]").find(':selected').val();
            var batch_ids = [];
            var package_ids = [];
            $("input:checkbox[name='package_checkbox']:checked").each(function(){    
                package_ids.push($(this).attr("value"));    		
            });
            
              $.ajax({
              type: "POST",
              dataType: 'json',
              headers:{'X-CSRFToken':csrftoken},
              url: actionUrl,
              contentType: "application/json",
              data: { 'package_ids' : package_ids},
              success: function(data) 
              {
                alert(data);
                location.reload(true);
              }
            });
            }
        });
    });
</script> -->
{% endblock %}